.botao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    color: #7c7c7c;
}

.sair {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5ad9f;
    color: #ff684f;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}